:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-green);
    width: 2rem;
    height: 1rem;
    border-radius: 2rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
    background-color: var(--color-red);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
    transform: translateX(1rem);
}